version: '3.8'

services:

  php-composer:
    container_name: php-composer
    image: composer:latest
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    command: composer install
    restart: "no"

  php-webserver:
    container_name: php-webserver
    depends_on:
      - php-composer
    build:
      context: .
      dockerfile: webserver-Dockerfile
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./apache/000-apache.conf:/etc/apache2/sites-available/000-default.conf
    restart: always